<h1> All tracked stock symbols</h1>

<p>
    <% @companies.each do |company| %>
  
    <%= button_to company.symbol, company_path(company.id), class:"btn btn-default", style:"", method: :get, params: { search: company.symbol} %>
    
    <% end %>
</p>
    
   