<span class='banner'>
    <div class='logout-button'>
        <button class="ui button"><%= link_to "Logout", logout_path %>   <i class="sign in alternate icon"></i></button>
    </div>
    <div class='app-name'>
        <h1>Stock Trackr</h1>
    </div>
</span>


<div class='stock-index-header'> 
    <h3 class="ui block header">
        Symbol Index Page    
        </h3>
</div>

    <% @companies.each do |company| %>
  
<div class="ui vertical buttons">
<button class="ui basic button"
    <%= button_to company.symbol, company_path(company.id), style:"", method: :get, params: { search: company.symbol} %>
    <% end %>
</button>
</div>

    
    
   