<h3> All tracked stock symbols</h3>

    <% @companies.each do |company| %>
  
<div class="ui vertical buttons">
<button class="ui button">
    <%= button_to company.symbol, company_path(company.id), style:"", method: :get, params: { search: company.symbol} %>
    <% end %>
</button>
</div>

    
    
   