<h1><%=@company_info.company_name%></h1>

<p>
    
    
    <ul>

    <li>Symbol: <%= @company_info.symbol %></li>
    <li>Primary Exchange: <%= @company_info.primary_exchange%></l>
    </ul>
    <p>Most recent price: $<%= @company_info.latest_price%></p>
   
 
</p>

