<h1> Company information</h1>

<p>
    
    
    <p><%= @company.name %></p>
    <li>CEO: <%= @company.ceo %></li>
    <li>Website: <%= @company.website %></li>
    <li>Company Description: <%= @company.description %></li>
   

</p>