/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "semantic-ui";
 $font-url: 'http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic&subset=latin';

$mobile-breakpoint: 320px !default;
$tablet-breakpoint: 768px !default;
$computer-breakpoint: 992px !default;
$large-monitor-breakpoint: 1200px !default;
$widescreen-monitor-breakpoint: 1920px !default;

/* Colors */
@blue: #80A6CD;
@green: #78CB5B;
@orange: #D26911;
@black: #333333;
@primaryColor: @green;
@secondaryColor: @black;

/* Links */
@linkColor: #4078C0;
@linkHoverColor: @linkColor;
@linkHoverUnderline: underline;

/* Borders */
@borderColor: rgba(0, 0, 0, 0.13);
@solidBorderColor: #DDDDDD;
@internalBorderColor: rgba(0, 0, 0, 0.06);
@selectedBorderColor: #51A7E8;

 body{
    background-image: url("https://images.pexels.com/photos/1843717/pexels-photo-1843717.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    margin: 0px;
    min-height: 100%;
    width: 100%;
  }

.form {
    margin: 50px 25vw;
    padding: 20px;
    
}

.banner{
  height:30 px;
  clear: left;
}

.logout-button{
  float: right;
  padding: 5px;
}

.app-name{
  float: left;
  padding-top: 5px;
  padding-left: 5px;
  clear: left;
}

.create-account{
  display: inline-block;
  padding: 5px;
  text-align: center;
  padding-top: 75px;
}

.field{
  width: 400px;
}

.create-submit-button{
  padding: 5px;
}

.wrapper{
  display: inline-block;
  padding: 5px;
  text-align: center;
  padding-top: 75px;
}

.stock-index-header{
  padding-top: 75px;
  padding-left: 5px;
}

.user-show-container{
  padding-top: 75px;
  padding-left: 5px;
}

.symbol-table{
  width: 75%;
}

.add-stock-button{
  clear: left;
  float: left;
  padding: 5px;
}

.company-name{
  padding-top: 75px;
  text-align: center;
}

.company-info{
padding-left: 5px;
clear: left;
padding: 5px;
max-width: 100px;
}

.to-signup{
  text-align: center;
  padding-left: 40px;
}

// .sra{
//   max-width:30px;
// }

// .close{
//   max-width:30px;
// }

// .open{
//   max-width:30px;
// }

// .high{
//   max-width:30px;
// }

// .volume{
//   max-width:30px;
// }

// .date{
//   max-width:30px;
// }



